* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 10px auto;
}

nav {
  text-align: center;
  font-size: 25px;
}

nav h1 {
  margin-right: 470px;
}

.angka .index {
  text-align: center;
  padding: 30px;
  font-size: 70px;
}

.container-reset {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.container-plus-min {
  margin-top: 50px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.tambah {
  background-color: rgb(125, 219, 18);
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  width: 100px;
}

.kurang {
  background-color: rgb(240, 6, 6);
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  width: 100px;
}

button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.setData {
  position: relative;
  top: 50px;
  left: 3px;
  box-sizing: border-box;
}

.setData input {
  padding: 8px 12px;
}

.setData button {
  margin-top: 5px;
  /* background-color: salmon; */
  cursor: pointer;
}

.container-display-target {
  width: auto;
  padding: 0 5px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.342);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.display-target {
  font-size: 30px;
}

@media screen and (min-width: 400px) {
  .container-display-target {
    margin-top: -30px;
  }
}
